@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif
}

body {
    border: solid black;
    padding: 2rem;
    margin: 1em auto auto auto;
    width: 40%;
}


p {
    font-weight: 650;
}

.line {
    border-top: solid black;
    width: 75%;
    padding: 1em;
}

main {
    font-size: 0.9rem;
}

h4 {
    padding-top: 1.1em;
    padding-bottom: 1em;
    color: rgb(2, 162, 2);
}

.sub_section {
    color: rgb(3, 116, 230);
    font-size: 1.1rem;
}

ul {
    padding: 0.5em;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    opacity: 0.4;
}