@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
}

.block {
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: #fff;
    padding: 1rem;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float: right;
    margin-left: 1rem;
}

.clear {
    clear: both;
}

section {
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    /* overflow: auto; */
    display: flow-root;
}